@import "var";

.available {
  display: flex;
  align-items: center;

  &__ico {
    display: block;
    margin: 0 6px 0 0;

    & svg {
      display: block;

      & path {
        fill: $c-available;
      }
    }
  }

  &__text {
    display: block;
    font-size: 11px;
    color: $c-available;
  }
}