@import "var";

$ico: $c-gray-1;
$ico-active: $c-red;

.card-item-favorite {
  width: 20px;
  height: 20px;
  padding: 0;
  background: 0;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;

      & svg path {
        stroke: $ico-active;
      }
    }
  }

  &:focus, &:active {
    outline: none;
  }

  & svg {
    display: block;
    width: 100%;

    & path {
      stroke: $ico;
      transition: .15s;
    }
  }

  &_active {
    & svg path {
      fill: $ico-active;
      stroke: $ico-active;
    }
  }
}