$c-red: #E30613;
$c-gray: #d0d1d1;
$c-gray-dark: #666;
$c-blue: #344E9F;
$c-green: #038100;

$c-border: #d0d1d1;
$c-bg-title-card: $c-red;
$c-favorite: $c-gray;
$c-favorite-active: $c-red;
$c-available: $c-green;
$c-not-available: $c-gray-dark;
$c-property: $c-blue;